:root {
	--c_primary: #29a19c;
	--c_secondary: #a3f7bf;
	--c_darkest: #191a19;
	--c_darker: #272b32;
	--c_dark: #435055;
	--c_text: whitesmoke;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 32px;
}

body {
	width: 100vw;
	height: 100vh;
	color: var(--c_text);
	background-color: var(--c_darkest);
}

input,
textarea,
button {
	font-size: 16px;
}

.topbar,
.current-room,
.message-input {
	background-color: var(--c_darker);
}

.messages {
	background-color: var(--c_darker);
	border-top: solid var(--c_secondary) 6px;
	border-bottom: solid var(--c_secondary) 1px;
	padding: 14px;
}

.navbar-toggle {
	display: none;
}

.message-owner {
	background-color: var(--c_dark);
	padding: 2px 6px;
	padding-right: 12px;
}

.sender .message-owner {
	padding: 2px 6px;
	padding-left: 12px;
	background-color: var(--c_primary);
}

nav {
	background-color: var(--c_darkest);
}

.current-room,
.room-input-container {
	display: none;
}

.room {
	color: var(--c_text);
	min-width: 50%;
	max-width: 80%;
}

.room p {
	border: solid var(--c_text) 1px;
	padding: 8px 8px;
	font-size: 20px;
	text-align: end;
}

.room-list {
	border-right: solid var(--c_secondary) 4px;
	padding-right: 8px;
	margin-right: 5px;
	row-gap: 6px;
}

.room-selected {
	background-color: var(--c_text);
	color: var(--c_darkest);
	font-weight: bold;
	align-self: flex-start;
	max-width: 80%;
	min-width: 60%;
}

.room-selected p {
	text-align: start;
}

.message-input-container {
	background-color: var(--c_dark);
}

.message-input-container * {
	border: none;
	outline: none;
	background-color: transparent;
	color: var(--c_text);
}

.message-send {
	background-color: var(--c_secondary);
	color: var(--c_darkest);
	width: 2.5ch;
	height: 2.5ch;
	border-radius: 2ch;
	position: relative;
	border: none;
	outline: none;
}

.message-input textarea {
	width: 250px;
	padding: 0px 8px;
	resize: none;
	transition: width 0.04s;
}

.message-input textarea:focus {
	width: 300px;
	transition: width 0.12s;
}

.login-page {
	background-color: var(--c_darkest);
	width: 100vw;
	height: 100vh;
}

.login-container {
	position: relative;
	top: -100px;
	border-top: solid var(--c_secondary) 4px;
	padding: 20px;
}

.login-container :nth-child(2) {
	margin-top: 8px;
}

.login-container :not(.appname, input) {
	align-self: flex-start;
	margin: 4px 0px;
}

.login-container input {
	padding: 8px;
	outline: none;
	border: none;
	color: var(--c_darkest);
	background-color: var(--c_text);
}

.login-container button {
	text-transform: uppercase;
	border: none;
	border-radius: 0px;
	outline: none;
	padding: 2px;
	width: 100%;
	color: var(--c_darkest);
	background-color: var(--c_secondary);
}

.message-input {
	padding-right: 20px;
	column-gap: 8px;
}

.message-input-container {
	padding: 2px 8px 2px 8px;
	border-radius: 1ch;
}

.message-input button {
	display: inline;
	text-align: center;
}

/* ^^^ Styling */

.login-page {
	z-index: 99;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.login-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.grid-wrapper {
	display: grid;
	width: 100vw;
	height: 100vh;
	grid-template-columns: 300px auto;
	grid-template-rows: 128px auto 48px;
}

.topbar {
	grid-area: 1/2/2/3;
}

.room-input-w {
	grid-area: 1/1/2/2;
}

nav {
	grid-area: 2/1/4/2;
}

.messages {
	grid-area: 2/2/3/3;
}

.message-input {
	grid-area: 3/2/4/3;
}

nav {
	padding: 8px;
	overflow: auto;
}

.room-input-w {
	background-color: var(--c_darkest);
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px;
}

.room-input {
	display: flex;
	flex-direction: column;
	padding: 2px 18px;
	background-color: var(--c_text);
	border-radius: 1ch;
}

.room-input > input {
	background-color: transparent;
	border: none;
	outline: none;
	width: 100%;
	transition: width 0.12s;
	transition: padding 0.06s;
}

.room-input > input:focus {
	padding: 10px 0px;
	transition: padding 0.12s;
}

.rooms {
	padding: 8px;
	display: flex;
	flex-direction: column;
}

.room-list {
	display: inline-flex;
	flex-direction: column;
	align-items: flex-end;
}

.topbar {
	padding: 16px;
	padding-top: 24px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.navbar-toggle {
	position: fixed;
	border: none;
	top: 6px;
	left: 6px;
	width: 50px;
}

.appname {
	font-weight: lighter;
	letter-spacing: 0.2ch;
}

.username {
	margin-top: 6px;
	font-size: 80%;
}

.current-room > p {
	font-size: 90%;
	padding: 0px 20px;
}

.messages {
	overflow: scroll;
	display: flex;
	flex-direction: column;
}

.messages * {
	font-size: 16px;
}

.message-list {
	padding: 6px;
}

.message {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 0px 50px 0px 0px;
}

.message[same-owner="false"] {
	margin-top: 4px;
}

.message-value {
	margin: 0px 0px 0px 10px;
	padding: 3px;
	border-radius: 0.6ch;
}

.sender {
	align-self: flex-end;
	flex-direction: column;
	align-items: flex-end;
	margin: 0px 0px 0px 50px;
}

.sender .message-value {
	margin: 0px 10px 0px 0px;
}

.message-input {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.message-input-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
}

/* animation */
.room {
	transition: padding 80ms, margin 120ms;
}

.room:not(.room-selected):hover {
	background-color: var(--c_text);
	color: var(--c_darkest);
	padding-right: 20px;
	margin-right: 10px;
	transition: padding 160ms, margin 200ms;
}

.room-selected:hover {
	padding: 8px;
	transition: padding 160ms, margin 200ms;
}

@keyframes fadeout {
	0% {
		opacity: 1;
		top: 0;
	}
	100% {
		opacity: 0;
		top: -100vh;
	}
}

.login-page[open="false"] {
	animation: fadeout 250ms ease-in-out forwards 100ms;
}

/* media query */

@media screen and (max-width: 850px) {
	.room-input-w {
		display: none;
	}

	.grid-wrapper {
		display: grid;
		width: 100vw;
		height: 100vh;
		grid-template-columns: 100vw;
		grid-template-rows: 128px 48px auto 48px;
	}

	.navbar-toggle {
		display: initial;
		z-index: 10;
		background-color: transparent;
		color: var(--c_text);
	}

	.topbar {
		grid-area: 1/1/2/2;
	}

	.current-room {
		grid-area: 2/1/3/2;
	}

	.messages {
		grid-area: 3/1/4/2;
	}

	.message-input {
		grid-area: 4/1/5/2;
	}

	nav {
		z-index: 1;
		position: fixed;
		width: 100vw;
		height: 100vh;
		left: -100vw;
		padding: 128px 20px;
		overflow: initial;
	}

	nav[open="true"] {
		left: 0vw;
		transition: left 0.2s;
	}

	nav[open="false"] {
		left: -100vw;
		transition: left 0.04s;
	}

	.navbar-toggle[open="true"] {
		rotate: -180deg;
		transition: rotate 200ms;
	}

	.navbar-toggle[open="false"] {
		rotate: 0deg;
		transition: rotate 200ms;
	}

	.room-input-container {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		position: relative;
		top: -18px;
	}

	.room-input,
	.room-input input {
		background-color: var(--c_text);
	}

	.current-room {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}

	.rooms {
		height: 65vh;
		overflow: scroll;
	}

	.message-input textarea {
		width: 30vw;
	}

	.message-input textarea:focus {
		width: 60vw;
	}
}
